Repository alejandroalffer/cheqd-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

dockerbuild-vcx-libindy-ubuntu16:
  tags:
  - docker-machine
  - large
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.16.0
    entrypoint:
    - ''
  script:
  ...

dockerbuild-vcx-libindy-ubuntu18:
  tags:
  - docker-machine
  - large
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.16.0
    entrypoint:
    - ''
  script:
  ...

dockerbuild-vcx-libindy-centos:
  tags:
  - docker-machine
  - micro
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.16.0
    entrypoint:
    - ''
  script:
  ...

dockerbuild-libindy-ubuntu16:
  tags:
  - docker-machine
  - large
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.16.0
    entrypoint:
    - ''
  script:
  ...

dockerbuild-libindy-ubuntu18:
  tags:
  - docker-machine
  - large
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.16.0
    entrypoint:
    - ''
  script:
  ...

Add verim_test_pool_ip for environment
  libindy/indy-utils/src/environment.rs
  libindy/tests/utils/verim_setup.rs
Due: none

Set fixed version for verim-node
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Comment CI tests for libindy
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix verim-node version
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix link for verim-node registry
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Return build libindy
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Return libindy CI tests
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix VERIM_TEST_POOL_IP
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix verim testpool url schema
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Use node with test account; minor fixes
  .gitlab-ci.yml
  libindy/indy-utils/src/environment.rs
  libindy/tests/utils/verim_setup.rs
  libindy/tests/verim_pool.rs
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix indy-api-types error
  libindy/indy-api-types/src/errors.rs
Due: none

Add get_timeout_height to verim setup
  libindy/tests/utils/verim_setup.rs
  libindy/tests/verim_keys.rs
  libindy/tests/verim_ledger_auth.rs
  libindy/tests/verim_ledger_verim.rs
  libindy/tests/verim_pool.rs
Due: none

Minor fix
  libindy/tests/verim_ledger_verim.rs
Due: none

Fix after review
  .gitlab-ci.yml
  libindy/tests/utils/verim_setup.rs
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Set other format for testnet
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Fix link of verim-testnet
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Clean up
  .gitlab-ci.yml
  libindy/tests/utils/verim_setup.rs
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Add verim pool service to java wrapper test stage
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Add verim ledger commsnds
  cli/src/libindy/verim_ledger.rs
Due: none

Switch java wrapper job instance to large
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Add commands for pool and keys
  cli/src/libindy/mod.rs
  cli/src/libindy/verim_keys.rs
  cli/src/libindy/verim_ledger.rs
  cli/src/libindy/verim_pool.rs
Due: none

Add commands for CLI
  cli/src/commands/mod.rs
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_ledger.rs
  cli/src/commands/verim_pool.rs
  cli/src/libindy/verim_keys.rs
  cli/src/main.rs
Due: none

Fix naming
  cli/src/commands/verim_keys.rs
Due: none

Add tests for CLI and implementation nested commands
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_ledger.rs
  cli/src/commands/verim_pool.rs
  cli/src/main.rs
Due: none

Fix tests CLI commands
  cli/src/commands/ledger.rs
  cli/src/commands/mod.rs
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_ledger.rs
  cli/src/commands/verim_pool.rs
Due: none

Rename default branch in pipeline.
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Update pipelines for new repo location.
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Correct image for libindy publishing.
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Use custom certs in CD.
  libindy/ci/ubuntu18.dockerfile
Due: dockerbuild-libindy-ubuntu18

Use compute xlarge runners for libindy compilation and tests.
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Update root README to reflect evolution of IndySDK to VDR Tools.
  README.md
Due: none

Use file-based env var for SSH key.
  .gitlab-ci.yml
Due: dockerbuild-vcx-libindy-ubuntu16, dockerbuild-vcx-libindy-ubuntu18, dockerbuild-vcx-libindy-centos, dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18

Add test build_account
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_ledger.rs
Due: none

Path conditions:
  dockerbuild-vcx-libindy-ubuntu16: any of: .gitlab-ci.yml, vcx/ci/libindy-ubuntu16.dockerfile
  dockerbuild-vcx-libindy-ubuntu18: any of: .gitlab-ci.yml, vcx/ci/libindy-ubuntu18.dockerfile
  dockerbuild-vcx-libindy-centos: any of: .gitlab-ci.yml, vcx/ci/libindy-centos.dockerfile
  dockerbuild-libindy-ubuntu16: any of: .gitlab-ci.yml, libindy/ci/ubuntu.dockerfile
  dockerbuild-libindy-ubuntu18: any of: .gitlab-ci.yml, libindy/ci/ubuntu18.dockerfile
